@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CRUD REALIZADO CON ASP.NET FRAMEWORK</h1>
    <p class="lead">
        En este ejemplo vamos a realizar un proyecto Web ASP.NET Framework, y haremos un CRUD , las aciones de Create crear, Read leer, update actualizar, y delete borrar.
        
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>EJEMPLOS</h2>
        <p>
            <ul>
                <li>CREATE/CREAR</li>
                <li>READ/LEER</li>
                <li>UPDATE/ACTUALIZAR</li>
                <li>DELETE/ELIMINAR</li>
            </ul>
        </p>
        <p>
            @Html.ActionLink("Conocer mas","Acercade","Inicio")
        </p>
    </div>
</div>