
@{
    ViewBag.Title = "Mision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mision</h2>

<div class="alert-info">
    Mi mision personal es aprender mucho de ASP.NET MVC, y aprender la mayoria de lenguajes de programacion para
    ofrecer soluciones de la mejor manera!!
</div>
